<div class="card show"><%= card.escape('title') %></div>
<div class="card hide">
  <%= card.escape('title') %>
  <button class="glyphicon glyphicon-trash pull-right card-destroy"></button>
  <div class="clearfix">
</div>
