<div class="cardsub show"><%= card.escape('title') %></div>
<div class="cardsub hide">
  <%= card.escape('title') %>
  <button class="glyph-button pull-right card-destroy"><span class="glyphicon glyphicon-trash"></span></button>
  <div class="clearfix"></div>
</div>
