<h3>Add Member</h3>
<form>
  <label>Email<br>
    <input type="hidden" name="board_assignment[board_id]" value="<%= board.id %>">
    <input type="text" name="board_assignment[email]">
  </label><br><br>
  <input type="submit" value="Add Member" class="btn btn-default">
</form>