<h3>Add Member</h3>
<form class='form-group'>
  <label>Email<br>
    <input type="hidden" name="board_assignment[board_id]" value="<%= board.id %>">
    <input class='form-control' type="text" name="board_assignment[email]" id="member-email">
  </label><br><br>
  <input type="submit" value="Add Member" class="btn btn-default">
</form>