<h1>My Boards</h1>
<div class="row">
  <% boards.each(function (board) { %> 
    <a href="/#/boards/<%= board.id %>">
      <div class="board">
        <%= board.escape('title') %>
      </div>                        
    </a>
  <% }); %>
</div>