<h1>Add a Board</h1>
<br>
<form>
  <label>Title<br>
    <br>
    <input type="text" name="board[title]">
  </label><br><br>
  <input type="submit" value="Create Board" class="btn btn-default">
</form>