<h1><%= board.escape('title') %> <button class="destroy btn btn-danger">Delete</button></h1>
<br>
<div class="row">
  <h3>Lists</h3><br>
</div>
<div class="row">
  <div class="lists">
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-2">
    <div class="list-new">
    </div>
  </div>
  <div class="col-xs-2 col-xs-offset-1">
    <div class="board-assignment">
    </div>
  </div>
  <div class="col-xs-2 col-xs-offset-1">
    <h3>Members</h3>
    <div class="board-members">
    </div>
  </div>
</div><br>
<a href="/#">Back to Index</a>