/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.list {
  position: relative;
  min-height: 300px;
  padding: 8px 16px 8px;
  margin: 16px;
  border: solid 1px;
  border-color: #E6E6E6;
  box-shadow: 1px 1px 1px #888888;
  float: left;
  border-radius: 3px;  
}

.list .btns {
  position: absolute;
  bottom: 16px;
}

.card {
  padding: 6px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #888888;
  margin: 6px;
  background-color: #FCFCFC;
}

.card-form {
  position: absolute;
  bottom: 16px;
}

.btn-delcard {
  border-radius: 6px;
  color: white;
//  box-shadow: 1px 1px 1px #888888;
//  margin: 6px;
  background-color: #E37B7B;
}
