<h3>Add List</h3>
<form>
  <label>Item<br>
    <input type="hidden" name="list[board_id]" value="<%= board.id %>">
    <input type="text" name="list[title]">
  </label><br><br>
  <input type="submit" value="Add List" class="btn btn-default">
</form>